@layer layout {
  :root,
  body {
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    font-size: 8px;
    position: relative;
  }

  .tsl-webgpu-engine__root {
    width: 100%;
    min-height: 100dvh;
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
  }

  .tsl-webgpu-engine__main {
    grid-area: 1 / 1 / -1 / -1;
    width: 100dvw;
    height: 100dvh;
    overflow: auto;
    touch-action: auto;
    position: fixed;
    inset: 0;
  }

  .tsl-webgpu-engine__main__canvas {
    width: 100%;
    height: 100%;
  }

  .tsl-webgpu-engine__statsgl {
    left: initial !important;
    top: initial !important;
    right: 0;
    bottom: 0;
    transform: translate(-270px, -48px);
  }
}
